
<div class="container-fluid">
  
  <h2 class="text-center"><small>Contact Information</small></h2>
  
  <h4 class="text-center"><small>Please fill out your contact information below.</small></h4>

    <form>
        <div class="form-group">
            <label class="height">Name<label style="color:red">*</label></label><br>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control">
                </div>
                <div class="col">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col">
                   <label><small>First Name</small></label>
                </div>
                <div class="col">
                    <label><small>Last Name</small></label>
                </div>
            </div>
                    

        </div>
        <div class="form-group">
            <label class="height">Email<label style="color:red">*</label></label>
            <input type="email" class="form-control">
        </div>

        <div class="form-group">
            <label class="height">Phone<label style="color:red">*</label></label>
            <input type="text" class="form-control">
    
        </div>
        <div class="form-group">
            <label class="height">Address<label style="color:red">*</label></label>
            <input type="text" class="form-control">
    
        </div>
        
    </form>    
</div>    